.AxisPosition {
	outline: 1px solid #ccc;
	width: 10em;
	height: 2em;
	position: relative;
}

.AxisPosition-value {
	display: none;
}

.AxisPosition-bar {
	position: absolute;
	left: 50%;
	background-color: #ddd;
	height: 100%;
	width: 50%;
	transform-origin: top left;
}
