.Button {
	outline: 1px solid #eee;
	outline-offset: -2px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	font-family: monospace;
}

.Button-pressed {
	z-index: 2;
	outline: 2px inset #09c;
	outline-offset: -3px;
}

.Button-graph {
	position: absolute;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
}

.Button-graph-bar {
	background-color: hsla(195, 100%, 40%, 0.4);
	transform-origin: bottom left;
	height: 100%;
}

.Button-content {
	font-size: 1.25em;
	padding: 0.25em;
	position: relative;
	display: flex;
	flex-direction: column;
}

.Button-label {
	font-style: italic;
}

.Button-pressed .Button-value {
	font-weight: bold;
}
