.Buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media (min-width: 100px) {
	.Buttons-button {
		width: 12.5%;
	}
}

@media (max-width: 999px) {
	.Buttons-button {
		width: 25%;
	}
}
