@import (inline) "~normalize.css";

@joystick-axis-length: 10em;
@joystick-axis-height: 2em;
@joystick-size: (@joystick-axis-length + @joystick-axis-height);

.gamepad-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	flex-wrap: wrap;
}

.gamepad {
	flex-grow: 1;
	min-width: 40em;
	max-width: 80em;
	padding: 1em;
}

.gamepad-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.gamepad-button {
	box-sizing: border-box;
	padding: 0.5em;
	width: (100% / 8);
	height: 3em;
	outline: 1px solid #ccc;
	outline-offset: -1px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	font-family: monospace;
}

.gamepad-button-pressed {
	z-index: 2;
	outline: 2px inset #09c;
	outline-offset: -2px;
}

.gamepad-button-value {
	position: absolute;
}

.gamepad-visuals {
	display: flex;
	flex-direction: row;
	margin: 1em 0;
}

.gamepad-visuals-item {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.gamepad-joysticks {
	display: flex;
	flex-direction: row;
}

.gamepad-joystick {
	width: @joystick-size;
	height: @joystick-size;
	position: relative;
}

.gamepad-joystick-x {
	position: absolute;
	bottom: 0;
	right: 0;
}

.gamepad-joystick-y {
	transform-origin: top left;
	transform: rotate(90deg);
	position: absolute;
	top: 0;
	left: @joystick-axis-height;
}

.gamepad-joystick-position {
	width: @joystick-axis-length;
	height: @joystick-axis-length;
	position: absolute;
	top: 0;
	right: 0;
}

.gamepad-axis {
	outline: 1px solid #ccc;
	outline-offset: -1px;
	width: @joystick-axis-length;
	height: @joystick-axis-height;
	position: relative;
}

.gamepad-axis-value {
	display: none;
}

.gamepad-axis-bar {
	position: absolute;
	left: 50%;
	background-color: #ddd;
	height: 100%;
	width: 50%;
	transform-origin: top left;
}

.pov-hat {
	width: @joystick-size;
	height: @joystick-size;
	display: flex;
	align-items: center;
	justify-content: center;
}

.direction-none,
.direction-n,
.direction-ne,
.direction-e,
.direction-se,
.direction-s,
.direction-sw,
.direction-w,
.direction-nw {
	width: 1em;
	height: 1em;
	text-align: center;
	line-height: 1em;
	font-size: 4em;
}

.direction-none::after {
	content: '\d7';
}

.direction-n::after,
.direction-ne::after,
.direction-e::after,
.direction-se::after,
.direction-s::after,
.direction-sw::after,
.direction-w::after,
.direction-nw::after {
	content: '\21d1';
}

.direction-n  { transform: rotate(0deg); }
.direction-ne { transform: rotate(45deg); }
.direction-e  { transform: rotate(90deg); }
.direction-se { transform: rotate(135deg); }
.direction-s  { transform: rotate(180deg); }
.direction-sw { transform: rotate(225deg); }
.direction-w  { transform: rotate(270deg); }
.direction-nw { transform: rotate(315deg); }
